<div class="page-header">
	<h1>Nuevo Tipo de Documento</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
	<%= link_to 'Regresar', tipodocumentos_path, :class => "btn btn-primary" %>
</div>

