<div class="page-header">
    <h1>Lista de Documentos</h1>
</div>
 
<ul class="thumbnails">
<% @documentos.each do |documento| %>
  <li class="span2">
      <a href="#" class="thumbnail">
        <%= image_tag "#{documento.documentoimg}" %>
      </a>
  </li>
<% end %>
</ul>


<div class="form-actions">
  <%= link_to 'Nuevo Documento', "/documentos/new?aid=#{params[:aid]}", :class => "btn btn-primary" %>
</div>