<div class="page-header">
  <h1>Editar Archivo</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Show', @archivo, :class => "btn btn-primary" %>
  <%= link_to 'Back', archivos_path, :class => "btn btn-primary" %>
</div>


