<div class="page-header">
  <h1>Editar Archivo</h1>
</div>

<%= render 'form' %>

<div class="form-actions">
  <%= link_to 'Ver', @archivo, :class => "btn btn-primary" %>
  <%= link_to 'Regresar', archivos_path, :class => "btn btn-primary" %>
  <%= link_to 'Borrar', "/archivo/#{@archivo.id}", method: :delete, data: { confirm: 'Estas Seguro que deseas Borrar ?' }, :class => "btn btn-primary" %>
</div>


